* {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower';
}

/* setting up the beginning section */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* design for links */
nav {
    display: flex;
    padding: 5% 5%;
    justify-content: space-between;
    align-items: center;
}

/* design for image logo */
nav img {
    width: 100px;
    height: 100px;
}

/* list of menu items */
.nav-links {
    flex: 1;
    text-align: right;
}

/* designing the menu bar items (home, contact us) etc. */
.nav-links ul li {
    list-style: none;  
    /* takes away the bullets */
    display: inline-block;
    /* makes list go left to right */
    padding: 8px 8px;
    position: relative;
}

/* text for the menu bar */
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

/* underline on the menu bar */
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

/* hover effect for menu bar items */
.nav-links ul li:hover::after {
    width: 100%;
}

/* div-world's best math tutoring */
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

/* title words-worlds best math tutoring*/
.text-box h1 {
    font-size: 60px;
    color: #fff;
}

/* paragraph words-learning math is easiest ... */
.text-box p {
    margin: 10px 0px 40px;
    /* top=10px, left/right=0px, bottom=40px */
    font-size: 35px;
    /* color: #fff; */
    color: #fff;
}

/* button- visit us to know more */
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

/* button hover effect */
.hero-btn:hover {
    border: 3px solid red;
    background: yellow;
    transition: 1s;
    color: black;
    font-size: 20px;
}

/* hide small screen menu icons on the main page */
nav .fa {
    display: none;
}

/* fix formatting for phone */
@media
    (max-width: 700px) {
        .text-box h1 {
            font-size: 40px;
        }
        .text-box p {
            font-size: 25px;
        }
        .nav-links ul li {
            display: block;
        }
        .nav-links {
            position: absolute;
            background: red;
            height: 100vh;
            width: 250px;
            top: 0;
            right: -250px;
            text-align: left;
            z-index: 2;
            transition: 1s;
        }
        nav .fa {
            display: block;
            color: #fff;
            margin: 10px;
            font-size: 30px;
            cursor: pointer;
        }
        .nav-links ul {
            padding: 20px;
        }
}

/* -------Course Section------ */


/* Courses We Offer section */
.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

/* "Courses we offer" text */
.course h1 {
    font-size: 36px;
    font-weight: 600;
}

/* "Our courses range from"....text */
.course p {
    color: red;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    padding: 10px;
}

/* courses columns */
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/* course columns-heading and text */
.course-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
} 

/* elementary, middle school, high school text */
.course h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

/* hover over text */
.course-col:hover {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

/* CSS for small screen devices, courses we offer section */
@media
    (max-width: 700px) {
        .row {
            flex-direction: column;
        }
}

/* --------Campus Section--------  */

/* setting up campus section */
.campus {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background: lightgoldenrodyellow;
    border: 1px solid red;
}

/* text under "Our center" */
.campus p{
    font-size: 25px;
}

/* columns for london picture */
.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

/* css for images-london,new york, wash dc */
.campus-col img {
    width: 100%;
    display: block;
}

/* adding a red filter to the london img */
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

/* adding a red filter to the london img */
.layer:hover {
    background: rgba(226,0,0,0.7);
}

/* city/state names on top of the images-hidden till hover */
.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

/* hide city/state text so it's only visible on hover */
.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/* ------------facilities section------------- */

/* set-up for the facilities section */
.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

/* setup for the images and text */
.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

/* facilities images */
.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

/* lorem ipsum text */
.facilities-col p {
    padding: 0;
    text-align: left;
}

/* topic words below the images */
.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}


/* ----------Testimonials Section---------- */


/* setting up testimonials section */
.testimonials {
    width: 100%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    background: lightgrey;
    border: 1px solid black;
}

/* setting up columns for testimonials- 2 columns */
.testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: lightslategray;
    padding: 25px;
    cursor: pointer;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;   
}

/* testimonial images */
.testimonial-col img {
    height: 80px;
    margin-left: 10px;
    margin-right: 60px;
    border-radius: 50%;
    margin-top: 10px;
}

/* hover over img section */
.testimonial-col:hover {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
    border: 2px solid black;
}

/* 5 star review */
.testimonial-col .fa {
    color: red;
}

/* fixing testimonial section for a small screen size */
@media(max-width: 700px) {
    .testimonial-col img {
        /* height: 80px; */
        margin-left: 0px;
        margin-right: 15px;
        /* border-radius: 50%; */
        margin-top: 10px;
    }
}


/* ----------Call to Action Section---------- */

/* setting up cta section */
.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}


/* "Enroll Now" text */
.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/* change the font-size of the enroll now text for small screen sizes */
@media(max-width: 700px) {
    .cta h1 {
        font-size: 24px;
    }
}

/* ----------Footer Section---------- */

/* setting up footer section */
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: lightgoldenrodyellow;
    border: 1px solid red;
}

/* about us text */
.footer h4 {
    margin: 25px 0;
    font-weight: 600;
    font-size: 35px;
}

/* lorem ipsum text */
.footer p {
    font-size: 30px;
}

/* icon formatting */
.icons .fa {
    color: red;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 30px;
}

/* coloring the heart icon red */
.fa-heart-o {
    color: red;
}

/* coloring the x icon red */
.fa-x-twitter {
    color: red;
}


/* ----------The End---------- */